body,
html {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.app-container {
  margin-top: 50px;
}

.auth-form {
  position: relative;
  padding: 2rem;
  border: 2px solid #ececec;
  border-radius: 6px;
  margin: 0 auto;
  color: #212529;
}

.center {
  position: relative;
  margin: 0 auto;
}

.gray-small {
  font-size: 15px;
  color: gray;
}

.bg {
  background-image: url('https://i.ibb.co/ZHNpjR5/valiant-made-Urz-N-8-K1-PCE-unsplash.jpg');
  height: 100%;
  display: flex;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  overflow-y: hidden;
  position: relative;
}

.auth-heading {
  background-color: whitesmoke;
  position: absolute;
  font-size: 3vw;
  width: 96%;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.auth-text {
  text-align: center;
  padding: 10px;
  color: rgb(77, 76, 76);
  margin: 0;
}

.auth-info {
  background-color: whitesmoke;
  position: absolute;
  top: 40%;
  left: 2%;
  right: 98%;
  width: 40%;
  max-width: 27%;
  min-width: 350px;
  border-radius: 3px;
  padding-top: 20px;
  transform: translate(0%, -20%);
}

.auth-info-text {
  color: rgb(77, 76, 76);
  padding-left: 16px;
  padding-right: 40px;
}

.auth0Button {
  position: absolute;
  text-align: center;
  top: 90%;
  left: 50%;
  font-size: 18px;
  transform: translate(-50%, -50%);
  background-color: #ffcc33;
  border: none;
  border-radius: 50px;
  min-width: 14vw;
  height: 45px;
  line-height: 32px;
}

.auth0Button:hover {
  background-color: #ffcc00;
}

.auth0Button:focus {
  background-color: #ffcc00 !important;
}

@media screen and (max-width: 375px) {
  .auth-info {
    display: none;
  }
}
