body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.app-container {
  margin-top: 50px;
}

.auth-form {
  position: relative;
  padding: 2rem;
  border: 2px solid #ececec;
  border-radius: 6px;
  margin: 0 auto;
  color: #212529;
}

.center {
  position: relative;
  margin: 0 auto;
}

.UserSkill__listItem > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skillComponent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
